@model WebAppTp2.Models.Voiture

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div>
    <h4>Voiture</h4>
    <hr />
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chassis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbPortes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbPortes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChevauxDin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChevauxDin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
