@model IEnumerable<WebAppTp2.Models.Voiture>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbPortes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChevauxDin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Couleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
             <th>
                Edit
            </th>
             <th>
                Details
            </th>
             <th>
                Delete
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Marque.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chassis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbPortes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChevauxDin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur)
            </td>
            <td>
                <img src="~/photoVoitures/@item.Photo" alt="@item.Photo" height="120" width="180"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
               <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
             <td>
               <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
